osc-node-red.json
[{"type":"tab","id":"4d0187fe.f6d978","label":"Flow 1"},{"id":"f4c4b023.b0d58","type":"osc in","z":"4d0187fe.f6d978","name":"OSC Listener","addr":"127.0.0.1","port":"8888","x":75,"y":91,"wires":[["850cce8a.9cde3"]]},{"id":"a72da1d0.2d5f8","type":"debug","z":"4d0187fe.f6d978","name":"","active":true,"console":"false","complete":"payload","x":723.5,"y":239,"wires":[]},{"id":"850cce8a.9cde3","type":"switch","z":"4d0187fe.f6d978","name":"Differentiator","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/scene/","vt":"str"},{"t":"cont","v":"/zone/","vt":"str"}],"checkall":"true","outputs":2,"x":249.5,"y":91,"wires":[["824859b2.ee3f48"],["15580105.34275f"]]},{"id":"824859b2.ee3f48","type":"function","z":"4d0187fe.f6d978","name":"Scene","func":"msg.payload = \"Scene data: \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":470.5,"y":153,"wires":[["a72da1d0.2d5f8"]]},{"id":"f3378dfb.0f238","type":"function","z":"4d0187fe.f6d978","name":"s","func":"msg.payload = \"Simon said: \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":472.5,"y":199,"wires":[["a72da1d0.2d5f8"]]},{"id":"327dfa47.1a46c6","type":"switch","z":"4d0187fe.f6d978","name":"Which Machine","property":"source","propertyType":"msg","rules":[{"t":"cont","v":"s.","vt":"str"},{"t":"cont","v":"a.","vt":"str"},{"t":"cont","v":"b.","vt":"str"},{"t":"cont","v":"c.","vt":"str"},{"t":"cont","v":"x.","vt":"str"}],"checkall":"true","outputs":5,"x":249.5,"y":279,"wires":[["f3378dfb.0f238"],["3e206f93.5703f"],["708d24e0.699cac"],["e9da2c0c.ba5e"],["e5d138ce.7d37b8"]]},{"id":"3e206f93.5703f","type":"function","z":"4d0187fe.f6d978","name":"a","func":"msg.payload = \"A said: \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":472.5,"y":239,"wires":[["a72da1d0.2d5f8"]]},{"id":"708d24e0.699cac","type":"function","z":"4d0187fe.f6d978","name":"b","func":"msg.payload = \"B said: \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":472.5,"y":279,"wires":[["a72da1d0.2d5f8"]]},{"id":"e9da2c0c.ba5e","type":"function","z":"4d0187fe.f6d978","name":"c","func":"msg.payload = \"C said: \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":474.5,"y":321,"wires":[["a72da1d0.2d5f8"]]},{"id":"e5d138ce.7d37b8","type":"function","z":"4d0187fe.f6d978","name":"x","func":"msg.payload = \"Unknown said: \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":475.5,"y":360,"wires":[["a72da1d0.2d5f8"]]},{"id":"15580105.34275f","type":"function","z":"4d0187fe.f6d978","name":"Determine Source","func":"msg.source = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":253.5,"y":178,"wires":[["327dfa47.1a46c6"]]}]