osc-node-red.json
[{"type":"tab","id":"4d0187fe.f6d978","label":"Flow 1"},{"id":"f4c4b023.b0d58","type":"osc in","z":"4d0187fe.f6d978","name":"OSC Listener","addr":"127.0.0.1","port":"8888","x":75,"y":91,"wires":[["850cce8a.9cde3"]]},{"id":"a72da1d0.2d5f8","type":"debug","z":"4d0187fe.f6d978","name":"","active":true,"console":"false","complete":"payload","x":676.5,"y":171,"wires":[]},{"id":"850cce8a.9cde3","type":"switch","z":"4d0187fe.f6d978","name":"Differentiator","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/scene","vt":"str"},{"t":"cont","v":"/zone/","vt":"str"}],"checkall":"true","outputs":2,"x":233.5,"y":91,"wires":[["824859b2.ee3f48"],["327dfa47.1a46c6"]]},{"id":"824859b2.ee3f48","type":"function","z":"4d0187fe.f6d978","name":"Scene","func":"msg.payload = \"Scene data: \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":423.5,"y":85,"wires":[["a72da1d0.2d5f8"]]},{"id":"f3378dfb.0f238","type":"function","z":"4d0187fe.f6d978","name":"S","func":"msg.payload = \"Simon said: \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":425.5,"y":131,"wires":[["a72da1d0.2d5f8"]]},{"id":"327dfa47.1a46c6","type":"switch","z":"4d0187fe.f6d978","name":"Which Machine","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/S/","vt":"str"},{"t":"cont","v":"/A/","vt":"str"},{"t":"cont","v":"/B/","vt":"str"},{"t":"cont","v":"/C/","vt":"str"},{"t":"cont","v":"/X/","vt":"str"}],"checkall":"true","outputs":5,"x":240.5,"y":211,"wires":[["f3378dfb.0f238"],["3e206f93.5703f"],["708d24e0.699cac"],["e9da2c0c.ba5e"],["e5d138ce.7d37b8"]]},{"id":"3e206f93.5703f","type":"function","z":"4d0187fe.f6d978","name":"A","func":"msg.payload = \"A said: \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":425.5,"y":171,"wires":[["a72da1d0.2d5f8"]]},{"id":"708d24e0.699cac","type":"function","z":"4d0187fe.f6d978","name":"B","func":"msg.payload = \"B said: \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":425.5,"y":211,"wires":[["a72da1d0.2d5f8"]]},{"id":"e9da2c0c.ba5e","type":"function","z":"4d0187fe.f6d978","name":"C","func":"msg.payload = \"C said: \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":427.5,"y":253,"wires":[["a72da1d0.2d5f8"]]},{"id":"e5d138ce.7d37b8","type":"function","z":"4d0187fe.f6d978","name":"X","func":"msg.payload = \"Unknown said: \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":428.5,"y":292,"wires":[["a72da1d0.2d5f8"]]}]